body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: auto;
}

header {
    background-color: rgb(255,0,0);
    height: 100%;
    width: 100%;
    position: fixed;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    justify-content: center;
}

nav li {
    margin: 0 10px;
    text-align: center;
}

nav a {
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
}

nav a:hover {
    color: rgb(70, 154, 77);
    background-color: rgba(0, 20, 40, 0.36);
    border-radius: 5px;
}
#img {
    margin-top: 15px;
}

nav a:active {
    color: antiquewhite
}
#img1{
    margin-left: 600px;
    animation: loading 1s alternate;
    }

@keyframes loading {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

#img1:hover {
    animation: loading 1s linear infinite;
}
