body {
    background-color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12;
    margin: 0%;
    text-align: justify;
}
article {
    width: 80%;
    margin: auto;
    border-left: 15px double green;
    margin-top: 20px;
    box-shadow: 5px 5px 10px 10px rgba(100, 100, 100, 2);
    font-size: 15px;
    margin-top: 50px;
   

}
section {
    display: flex;
    background-color: beige;
    box-shadow: 30px grey ;
    
   
    
    
    color: aliceblue;
}


#p1 {
    width: 50%;
    margin-left: 100px;
}
#p2 {
   width: 50%; 
}
#ar1 {
    display: flex;
    background-color: rgb(157, 49, 49);
    box-shadow: 5px 5px 10px 10px rgba(100, 100, 100, 2);
   

}
#p00 {
    width: 50%;
    margin-left: 80px;
}
#paaa {
    width: 50%;
}
p {
    width: 33%;
    background-color: rgb(157, 49, 49);
    margin-right: 10px;
    margin-top: 0;
   
}
footer {
    margin-top: 30px;
}
#p11 {
    margin-top: 0px;
}

#ifhea {
        height:110px;
}

#ifram1 {
    margin-bottom:-5px;
}
#ar00 {
    text-align: center;
}
#ar11 {
    text-align: center;
}
#pu {
    margin: auto;
}