body {
    background-color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12;
    margin: 0%;
    text-align: justify;
}
article {
    width: 80%;
    margin: auto;
    border-left: 15px double green;
    margin-top: 20px;
    box-shadow: 5px 5px 10px 10px rgba(100, 100, 100, 2);
    font-size: 15px;
   

}
section {
    display: flex;
    background-color: beige;
    box-shadow: 30px grey ;
    margin-top: 10%;
    background-color: rgb(157, 49, 49);
    
    color: aliceblue;
}
#hr1 {
    margin-top: 25px;
    border: 10px double green;
}

#p1 {
    width: 50%;
    margin-left: 100px;
}
#p2 {
   width: 50%; 
}
#ar1 {
    display: flex;
    background-color: rgb(206, 87, 87);
    box-shadow: 5px 5px 10px 10px rgba(100, 100, 100, 2);
    border: outset green 15px;

}
#p00 {
    width: 50%;
    margin-left: 80px;
}
#paaa {
    width: 50%;
}
p {
    width: 33%;
    margin: 15px;
}
footer {
    margin-top: 30px;
}
#p11 {
    margin-top: 0%;
}

#ifhea {
        height:100px;
}