body {
    background-color:beige;
}

#titu1 {
    text-align:center;
    font-size:40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#img1 {
    text-align:center;
    border:4px orange solid;
    width:90%;
    margin-left:5%;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.2);
    margin-top:10px;
}

#art1 {
    border-left:5px orange solid;
    border-radius: 5px;
    margin-left:5%;
    margin-right: 5%;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.2);
}

#titu2 {
    text-align:center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#text1 {
    margin: 1%;
    text-align: justify;
    padding-bottom:10px;
}

#art2 {
    border-left:5px orange solid;
    border-radius: 5px;
    margin-left:5%;
    margin-right: 5%;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.2);
}

.divi1 {
    display:flex;
    text-align: center;
    margin:2%;
}

.divi2 {
    display:flex;
    text-align: center;
    margin:2%;
}

#justificar {
    text-align:justify;
    margin:10px;
}

#img2 {
    text-align:center;
    border:4px orange solid;
    width:90%;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.2);
    margin-top:10px;
}

body {
    margin:0%;
    padding:0%;
}

#frame1 {
    margin:-5px;
}

#ifhea {
    height:110px;
}

a {
    width:30%;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.2);
    border-top:5px orange solid;
    border-radius:10px;
    margin:25px;
    font-style: none;
    text-decoration: none;
    color:black;
}

body {
    margin:0;
    padding: 0;
}
