<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../assets/css/footer.css"/>
    <title>Footer PsiOréno</title>
</head>
<body>
    <footer>
        <a href="https://linktr.ee/psiomega.01"><img id="img" src="https://www.pngkit.com/png/detail/108-1088122_rvore-vetor-png-arvore-vetor-png.png" a href="https://linktr.ee/psiomega.01"  height="64" width="64" alt="logoPsiOrégano"></a>
        <p>Todos os direitos reservados 2023</p>
    </footer>
</body>
</html>