<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../assets/css/header.css"/>
    <title>Document</title>
</head>
<body>
    <header>
        <div class="container">
            <a href="../menu.html" target="_parent" class="logo">
            <img id="img1" src="../assets/images/logo.png" alt="PsiOrégano" width="64px" height="64px" style="transform:rotate(360deg)">
            </a>
            <nav>
                <ul>
                    <li><a href="../menu.html" target="_parent">Menu</a></li>
                    <li><a href="../pages/sobrenos.html" target="_parent">Sobre</a></li>
                    <li><a href="../pages/contatos.html" target="_parent">Contato</a></li>
                </ul>
            </nav>
        </div>
    </header>
    </header>
</body>
</html>